@model IEnumerable<HotelGarage.Models.ParkingPlace>

@{
    ViewBag.Title = "Náhled garáže";
}

<h2>Parkovací Místa</h2>
<br />
@foreach (var parkingPlace in Model)
{
    <li>@parkingPlace.Name - @parkingPlace.StateOfPlace.Name</li>
    <li>
        @Html.ActionLink("Check In",
    "CheckIn",
    "Reservations",       
    new { parkplace = parkingPlace.Id },
    new { @class = "btn btn-primary", type = "submit" })
    </li>
    <br />
}
@Html.ActionLink("Nová Rezervace", 
    "Create", 
    "Reservations", 
    new { Reservations = Model }, 
    new { @class = "btn btn-primary", type = "submit" })