@model IEnumerable<HotelGarage.Models.Reservation>

@{
    ViewBag.Title = "Home Page";
}

<h1>list of cars</h1>
@foreach (var reservation in Model)
{
    <li>@reservation.CarId</li>
    <li>@reservation.Arrival</li>
}
