@model IEnumerable<HotelGarage.Models.Reservation>

@{
    ViewBag.Title = "Náhled garáže";
}

<h2>Parkovací Místa</h2>
<br />
@foreach (var reservation in Model)
{
    <li>SPZ Auta - @reservation.Car.LicensePlate</li>
    <li>Příjezd rezervace - @reservation.Arrival</li>
    <br />
}
@Html.ActionLink("Make new reservation", 
    "Create", 
    "Reservations", 
    new { Reservations = Model }, 
    new { @class = "btn btn-primary", type = "submit" })