@model IEnumerable<HotelGarage.Models.Reservation>

@{
    ViewBag.Title = "Home Page";
}

<h1>list of reservations</h1>

@Html.ActionLink("Make new reservation", "Create", "Reservations", new{ Reservations = Model }, new { @class = "btn btn-primary", type="submit" })


    <ul>
        @foreach (var reservation in Model)
        {
            <li>@reservation.Car.LicensePlate</li>
            <li>@reservation.Arrival</li>
        }
    </ul>
