body {
    
    margin-top: 90px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

/* bootstrap overrides */
.navbar-inverse {
    background-color: #204d74;
    border-color: #204d74;
}


.navbar-inverse .navbar-nav > li > a {
    color: #DCDDE8;
}

.navbar-inverse .navbar-brand {
    color: #DCDDE8;
}

.navbar-brand {
    font-weight: 700;
    font-size: 24px;
}

.nav-link {
    font-size: 20px;
}

.nav > li > a:hover, .navbar-brand:hover, #logoutForm > ul > li > a:hover {
    color: #FFF;
}

.btn{
    border-radius:10px;
}

body {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
}
label {
    
    font-weight: normal;
}

span.field-validation-error {
    font-size: 14px;
}

