body {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 90px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

.alert-prijezd {
    width:180px;
}

.modal-title {
    margin-left : 20px;
}
/* bootstrap overrides */
.navbar-inverse {
    background-color: #0069d9;
    border-color: #0069d9;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.navbar-brand {
    font-weight: 700;
    font-size: 24px;
}

.nav-link {
    font-size: 20px;
    padding: 0.5rem 0.3rem;
}

.nav-item {
    margin-left: 10px;
}

.nav > li > a:hover, .navbar-brand:hover, #logoutForm > ul > li > a:hover {
    color: #f8f9fa;
}

label {
    
    font-weight: normal;
}

span.field-validation-error {
    font-size: 14px;
}

input[type="radio"], input[type="checkbox"]
{
    margin-left:5px;
    zoom:1.5;
}

.card {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 170px;
    width: 170px;
}

.card-title {
    height: 35px;
    color: black;
    line-height: 20px;
}

.card-body {
    padding: 10px;
    line-height: 15px;
    margin-bottom: 5px;
}

.card-body > p {
    line-height: 18px;
}

.card-text {
    font-size: 0.9em;
}

a.btn, p.btn {
    width: 148px;
    text-align: center;
    border: none;
    padding: 0.2rem 0.75rem;
}

.parkovaciMistoPrazdne {
    width: 180px;
}

.sOPActionLink > a {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 4px;
}

.custom-select
{
    margin-left : 5px;
}

div.col-auto > div > div.alert {
    padding: 0.5rem 0.75rem;
}

.odkaz-prijezd {
    color: #533f03;
    font-size:20px;
}
.btn-outline-primary{
    background-color:white;
}
.custom-select {
    border: 1px solid #212529;
    color: #212529;
}

.input-group {
    margin-top: 10px;
}

.justify-content-center {
    padding-right: 10px;
}

.bootbox .modal-header {
    display: block;
}

a {
    color: #007bff;
}

